<launch>

  <node pkg="success_ros_aruco" type="success_ros_aruco_node" name="aruco_node" output="screen">
   
    <param name="marker_dictonary" value="TAG36h11"/>
    
    <param name="marker_size" value="0.034"/>
    <param name="rate" value="10"/>

    <remap from="/image" to="/cameras/left_hand_camera/image"/>
    <remap from="/camera_info" to="/cam2/camera_info"/>
    <!-- <remap from="/cameras/left_hand_camera/camera_info" to="/camera_info"/> -->

    <remap from="markers" to="/markersAruco"/>
  </node>

</launch>
