<launch>

  <!-- Launch kinect 2  -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />
  <!-- The position of the camera relative to the table -->
  <!-- static_transform_publisher x y z roll pitch yaw frame_id child_frame_id  period_in_ms -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 1.24 3.1415/2 3.1415 0 base kinect2_link" />
  <!-- Actual node -->
  <include file="$(find success_ros_aruco)/launch/base_aruco_node.launch"/>
</launch>